<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    (click)="snav.toggle()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Family Reunion</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container class="example-sidenav-container">
  <mat-sidenav
    #snav
    mode="over"
    [fixedInViewport]="true"
    fixedTopGap="56"
  >
    <!-- [mode]="mobileQuery.matches ? 'over' : 'side'" -->
    <mat-nav-list>
      @for (nav of fillerNav2; track nav) {
      <a mat-list-item routerLink="{{ nav.link }}" (click)="snav.close()">
        <mat-icon>{{ nav.icon }}</mat-icon> {{ nav.label }}
      </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
