:host {
  display: flex;
  flex-direction: column;
  width: 70%;
  min-width: 19rem;

  form {
    width: 100%;
  }

  mat-card {
    width: 100%;

    mat-card-header {
      padding: 1rem;
    }

    mat-form-field {
      width: -webkit-fill-available;
      min-width: 17rem;
    }
  }
}

.right {
  display: flex;
  justify-content: flex-end;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding:.5rem 0;
  flex-wrap: wrap;
}

.space-between{
  justify-content: space-between;
}